/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

.thumbimg {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

#playground {
  width: 100%;
  height: 600px;
  background: white;
  position: relative;
}



.resize-drag {
  color: white;
  font-size: 10px;
  font-family: sans-serif;
  border-radius: 4px;
  margin: 0px;

  position: absolute;
  top: 0;
  left: 0;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.initially_hidden {
  display: none;
  margin-top: 1em;
  margin-bottom: 1em;
}



